body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: row;
}

#subBtn {
	outline: none;
	cursor: pointer;
	background-color: #333;
	color: #f4f4f4;
	border: none;
	transition: 0.3s;
}

#subBtn:hover {
	background-color: #f4f4f4;
	color: #333;
}

.preview-color {
	min-width: 10%;
	min-height: 16px;
	margin: 8px;
}