body {
	margin: 0;
	background-color: var(--bg-color-main);
	color: var(--text-color-main);

	height: 100vh;
}

body.dark {
	--bg-color-main: #333;
	--text-color-main: #f4f4f4;
}

body.light {
	--bg-color-main: #f4f4f4;
	--text-color-main: #333;
}

a[href="../"] {
	color: var(--text-color-main);
	text-decoration: none;
}

.backLink {
	position: absolute;
	top: 2rem;
	left: 2rem;

	font-size: 4rem;
	color: var(--text-color-main);

	outline: none;
	cursor: pointer;
}

.theme-toggler {
	position: absolute;
	top: 2rem;
	right: 2rem;

	font-size: 1rem;
	text-align: right;

	background-color: var(--text-color-main);
	color: var(--bg-color-main);
	border: 2px solid var(--text-color-main);
	outline: none;
	cursor: pointer;
}

.footer {
	background-color: var(--bg-color-main);
	color: var(--text-color-main);

	width: 100vw;
	position: absolute;
	bottom: 0rem;
	text-align: center;
}

.title {
	position: absolute;
	top: 3rem;
}